
<!doctype html>
<html lang="zh">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>主页</title>

  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">

  <!-- google fonts -->
  <link href="http://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
</head>

<body class="sidebar-menu-collapsed">
  <div class="se-pre-con"></div>
<section>
  <!-- sidebar menu start -->
  <div class="sidebar-menu sticky-sidebar-menu">

    <!-- logo start -->
    <div class="logo">
      <h1><a href="index.html">收集</a></h1>
    </div>

  <!-- if logo is image enable this -->
    <!-- image logo --
    <div class="logo">
      <a href="index.html">
        <img src="image-path" alt="Your logo" title="Your logo" class="img-fluid" style="height:35px;" />
      </a>
    </div>
    <!-- //image logo -->

    <div class="logo-icon text-center">
      <a href="index.html" title="logo"><img src="assets/images/logo.png" alt="logo-icon"> </a>
    </div>
    <!-- //logo end -->

    <div class="sidebar-menu-inner">

      <!-- sidebar nav start -->
      <ul class="nav nav-pills nav-stacked custom-nav">
        <li class="active"><a href="index.html"><i class="fa fa-tachometer"></i><span> 面板</span></a>
        </li>
        <li class="menu-list">
        </li>
      </ul>
      <!-- //sidebar nav end -->
      <!-- toggle button start -->
      <a class="toggle-btn">
        <i class="fa fa-angle-double-left menu-collapsed__left"><span>Collapse Sidebar</span></i>
        <i class="fa fa-angle-double-right menu-collapsed__right"></i>
      </a>
      <!-- //toggle button end -->
    </div>
  </div>
  <!-- //sidebar menu end -->
  <!-- header-starts -->
  <div class="header sticky-header">

    <!-- notification menu start -->
    <div class="menu-right">
      <div class="navbar user-panel-top">
        <div class="search-box">
          <form action="#search-results.html" method="get">
            <input class="search-input" placeholder="搜素是不能用的..." type="search" id="search">
            <button class="search-submit" value=""><span class="fa fa-search"></span></button>
          </form>
        </div>
      </div>
    </div>
    <!--notification menu end -->
  </div>
  <!-- //header-ends -->
  <!-- main content start -->
<div class="main-content">

  <!-- content -->
  <div class="container-fluid content-top-gap">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb my-breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">主页</a></li>
        <li class="breadcrumb-item active" aria-current="page">面板</li>
      </ol>
    </nav>
    <div class="welcome-msg pt-3 pb-4">
      <h1><span class="text-primary">你好</span>, 欢迎访问</h1>
      <p>数据显示面板-数据为下面日期内的数据</p>
    </div>

    <!-- statistics data -->
    <div class="statistics">
      <div class="row">
        <div class="col-xl-6 pr-xl-2">
          <div class="row">
            <div class="col-sm-6 pr-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-users"> </i>
                <h3 class="text-primary number"><div id="index_page_num"></div></h3>
                <p class="stat-text">博客主页真实IP访问次数</p>
              </div>
            </div>
            <div class="col-sm-6 pl-sm-2 statistics-grid">
              <div class="card card_border border-primary-top p-4">
                <i class="lnr lnr-eye"> </i>
                <h3 class="text-secondary number"><div id="ip_num"></div></h3>
                <p class="stat-text">访问IP数</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- //statistics data -->

    <!-- charts -->
    <div class="chart">
      <div class="row">
        <div class="col-lg-6 pr-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              请求次数
            </div>
            <div class="card-body">
              <!-- bar chart -->
              <div id="container">
                <canvas id="barchart"></canvas>
              </div>
              <!-- //bar chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              <div id="update_date"></div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 pl-lg-2 chart-grid">
          <div class="card text-center card_border">
            <div class="card-header chart-grid__header">
              时间段
            </div>
            <div class="card-body">
              <!-- line chart -->
              <div id="container">
                <canvas id="linechart"></canvas>
              </div>
              <!-- //line chart -->
            </div>
            <div class="card-footer text-muted chart-grid__footer">
              <div id="update_date1"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- //charts -->



    <!-- accordions -->
    <div class="accordions">
      <div class="row">
        <!-- accordion style 1 -->
        <div class="col-lg-12 mb-4">
          <div class="card card_border">
            <div class="card-header chart-grid__header">
              具体信息
            </div>
            <div class="card-body">
              <div class="accordion" id="accordionExample">

                <div class="card">
                  <div class="card-header bg-white p-0" id="headingOne">
                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">网址请求次数排名</a>
                  </div>

                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                    data-parent="#accordionExample">
                    <div class="card-body para__style">
                      <div id="card1"></div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bg-white p-0" id="headingTwo">
                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">使用的最多的浏览器</a>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body para__style">
                      <div id="card2"></div>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header bg-white p-0" id="headingThree">
                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">访问最多的IP</a>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                    data-parent="#accordionExample">
                    <div class="card-body para__style">
                      <div id="card3"></div>
                    </div>
                  </div>
                </div>
                
                <div class="card">
                  <div class="card-header bg-white p-0" id="headingFour">
                    <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseFour"
                      aria-expanded="false" aria-controls="collapseFour">原始数据</a>
                  </div>
                  <div id="collapseFour" class="collapse" aria-labelledby="headingFour"
                    data-parent="#accordionExample">
                    <div class="card-body para__style">
                      <div id="card4"></div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <!-- //accordion style 1 -->
      </div>
    </div>
    <!-- //accordions -->


  </div>
  <!-- //content -->
</div>
<!-- main content end-->
</section>
  <!--footer section start-->
<footer class="dashboard">
  <p>Copyright &copy; 2020.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>
</footer>
<!--footer section end-->
<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
  <span class="fa fa-angle-up"></span>
</button>
<script>
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function () {
    scrollFunction()
  };

  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("movetop").style.display = "block";
    } else {
      document.getElementById("movetop").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
<!-- /move top -->


<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/jquery-1.10.2.min.js"></script>

<!-- chart js -->
<script src="assets/js/Chart.min.js"></script>
<script src="assets/js/utils.js"></script>
<!-- //chart js -->

<!-- Different scripts of charts.  Ex.Barchart, Linechart -->
<!--<script src="assets/js/linechart.js"></script> -->
<!-- //Different scripts of charts.  Ex.Barchart, Linechart -->


<script src="assets/js/jquery.nicescroll.js"></script>
<script src="assets/js/scripts.js"></script>


<!-- disable body scroll when navbar is in active -->
<script>
  $(function () {
    $('.sidebar-menu-collapsed').click(function () {
      $('body').toggleClass('noscroll');
    })
  });
</script>
<!-- disable body scroll when navbar is in active -->

 <!-- loading-gif Js -->
 <script src="assets/js/modernizr.js"></script>
 <script>
     $(window).load(function () {
         // Animate loader off screen
         $(".se-pre-con").fadeOut("slow");;
     });
 </script>
 <!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="assets/js/bootstrap.min.js"></script>

<script>
//英文月份转数字
var date_map = new Array ("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec");
var date_map2 = new Array ("1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12");
function map_find_index(strInput) {
  var data_ = 0;
  for (var x in date_map) {
    if (strInput === date_map[x]) {
      data_ = x;
      break;
    }
  }
  return date_map2[data_];
}
//时间字符串处理
function str_deal_time(strtime_nginx_log) {
  var str_array = strtime_nginx_log.split("/");
  var _day = str_array[0];
  var _month = map_find_index(str_array[1]);
  var _year = strtime_nginx_log.slice(strtime_nginx_log.lastIndexOf("/")+1, strtime_nginx_log.indexOf(":"));
  strtime_nginx_log = strtime_nginx_log.slice(strtime_nginx_log.indexOf(":")+1, strtime_nginx_log.lastIndexOf("00"));
  str_array = strtime_nginx_log.split(":");
  return {"year" : _year, "month" : _month, "day":_day, "hour" : str_array[0], "minute" : str_array[1], "second" : str_array[2]};
}
//str_deal_time("19/Jul/2021:17:25:22 +0800");

//判断值是否在数组里
function val_in(array_in, val_check) {
  var result_ = false;
  for (var x in array_in) {
    if (val_check === array_in[x]) {
      result_ = true;
      break;
    }
  }
  return result_;
}
//var all_in1 = new Array("a", "b", "c");
//console.log(val_in(all_in1, "d"));

//对json对象计数
function count_json(json_in) {
  var num_j = 0;
  for (x in json_in) {
    num_j++;
  }
  return num_j;
}


document.getElementById("card2").innerHTML = "aa";
document.getElementById("card3").innerHTML = "aa";
//对详细信息进行处理
fetch("/data.json")
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    //console.log(myJson);
    document.getElementById("ip_num").innerHTML = count_json(myJson);
    
    var all_date = new Array();
    var count_get = new Array();
    var arr_index = 0;
    var arr_index_get = 0;
    //获取日期数据
    for (var xx in myJson) {
      //console.log(myJson[x][1]);
      for (var yy in myJson[xx][1]) {
        var data_rd = myJson[xx][1][yy].time_detail;
        //console.log(data_rd);
        data_rd = data_rd.year+"/"+map_find_index(data_rd.month)+"/"+data_rd.day;
        //console.log(data_rd);
        if (all_date.length == 0) {
          all_date[arr_index] = data_rd;
          arr_index++;
        } else {
          if (val_in(all_date, data_rd) == false) {
              all_date[arr_index] = data_rd;
              arr_index++;
          }
        }
      }
    }
    var all_date1 = new Array();
    var count_get1 = new Array();
    var arr_index1 = 0;
    var arr_index_get1 = 0;
    //获取日期数据
    for (var xx in myJson) {
      //console.log(myJson[x][1]);
      for (var yy in myJson[xx][1]) {
        var data_rd = myJson[xx][1][yy].time_detail;
        //console.log(data_rd);
        data_rd = data_rd.year+"/"+map_find_index(data_rd.month)+"/"+data_rd.day+"-"+str_deal_time(myJson[xx][1][yy].time).hour+"时";
        //console.log(data_rd);
        if (all_date1.length == 0) {
          all_date1[arr_index1] = data_rd;
          arr_index1++;
        } else {
          if (val_in(all_date1, data_rd) == false) {
              all_date1[arr_index1] = data_rd;
              arr_index1++;
          }
        }
      }
    }
    for (var aa in all_date1) {
      count_get1[arr_index_get1] = 0;
      for (var xx in myJson) {
        for (var yy in myJson[xx][1]) {
          var data_rd = myJson[xx][1][yy].time_detail;
          data_rd = data_rd.year+"/"+map_find_index(data_rd.month)+"/"+data_rd.day+"-"+str_deal_time(myJson[xx][1][yy].time).hour+"时";
          if (all_date1[aa] === data_rd) {
            count_get1[arr_index_get1]++;
          }
        }
      }
      arr_index_get1++;
    }
    //console.log(all_date1);

    //获取请求网址
    var count_url = new Array();
    var count_url_count = new Array();
    var count_url_index = 0;
    for (var xx in myJson) {
      for (var yy in myJson[xx][1]) {
        var data_url = myJson[xx][1][yy].url;
        //console.log(data_url);
        if (count_url.length == 0) {
          count_url[count_url_index] = data_url;
          count_url_index++;
        } else if (val_in(count_url, data_url) == false && data_url !== "-") {
            count_url[count_url_index] = data_url;
            count_url_index++;
        }
      }
    }
    //统计请求次数
    count_url_index = 0;
    for (var aa in count_url) {
      count_url_count[count_url_index] = 0;
      for (var xx in myJson) {
        for (var yy in myJson[xx][1]) {
          if (myJson[xx][1][yy].url == count_url[aa]) {
            count_url_count[count_url_index]++;
          }
        }
      }
      count_url_index++;
    }
    var count_url_dict = new Array();
    for (var aa in count_url) {
      count_url_dict[count_url[aa]] = count_url_count[aa];
      //console.log(count_url_count[aa]);
    }
    //console.log(count_url_dict);
    var res2 = Object.keys(count_url_dict).sort(function(b,a){ return count_url_dict[a]-count_url_dict[b]; }); // 字典元素按value值排序
    var str_html = "";
    for(var key in res2){ 
       str_html += "<li><b>" + count_url_dict[res2[key]] + "次 :  </b><a href='"+res2[key]+"'>"+ res2[key] +"<a></li><br />";
        //console.log(res2[key] + ' : ' + count_url_dict[res2[key]]);
    }
    document.getElementById("card1").innerHTML = str_html;
    //获取请求浏览器
    count_url = new Array();
    count_url_count = new Array();
    count_url_index = 0;
    for (var xx in myJson) {
      for (var yy in myJson[xx][1]) {
        var data_url = myJson[xx][1][yy].ua;
        //console.log(data_url);
        if (count_url.length == 0) {
          count_url[count_url_index] = data_url;
          count_url_index++;
        } else if (val_in(count_url, data_url) == false && data_url !== "-") {
            count_url[count_url_index] = data_url;
            count_url_index++;
        }
      }
    }
    //统计浏览器次数
    count_url_index = 0;
    for (var aa in count_url) {
      count_url_count[count_url_index] = 0;
      for (var xx in myJson) {
        for (var yy in myJson[xx][1]) {
          if (myJson[xx][1][yy].ua == count_url[aa]) {
            count_url_count[count_url_index]++;
          }
        }
      }
      count_url_index++;
    }
    count_url_dict = new Array();
    for (var aa in count_url) {
      count_url_dict[count_url[aa]] = count_url_count[aa];
      //console.log(count_url_count[aa]);
    }
    //console.log(count_url_dict);
    res2 = Object.keys(count_url_dict).sort(function(b,a){ return count_url_dict[a]-count_url_dict[b]; }); // 字典元素按value值排序
    str_html = "";
    for(var key in res2){ 
       str_html += "<li><b>" + count_url_dict[res2[key]] + "次 :  </b>" + res2[key] +"</li><br />";
        //console.log(res2[key] + ' : ' + count_url_dict[res2[key]]);
    }
    document.getElementById("card2").innerHTML = str_html;//改变卡片的值

    //获取请求IP
    count_url = new Array();
    count_url_count = new Array();
    count_url_index = 0;
    for (var xx in myJson) {
      for (var yy in myJson[xx][1]) {
        var data_url = myJson[xx][1][yy].ip;
        //console.log(data_url);
        if (count_url.length == 0) {
          count_url[count_url_index] = data_url;
          count_url_index++;
        } else if (val_in(count_url, data_url) == false && data_url !== "-") {
            count_url[count_url_index] = data_url;
            count_url_index++;
        }
      }
    }
    //统计IP
    count_url_index = 0;
    for (var aa in count_url) {
      count_url_count[count_url_index] = 0;
      for (var xx in myJson) {
        for (var yy in myJson[xx][1]) {
          if (myJson[xx][1][yy].ip == count_url[aa]) {
            count_url_count[count_url_index]++;
          }
        }
      }
      count_url_index++;
    }
    count_url_dict = new Array();
    for (var aa in count_url) {
      count_url_dict[count_url[aa]] = count_url_count[aa];
      //console.log(count_url_count[aa]);
    }
    //console.log(count_url_dict);
    res2 = Object.keys(count_url_dict).sort(function(b,a){ return count_url_dict[a]-count_url_dict[b]; }); // 字典元素按value值排序
    str_html = "";
    for(var key in res2){ 
       str_html += "<li><b>" + count_url_dict[res2[key]] + "次 :  </b>" + res2[key] +"</li><br />";
        //console.log(res2[key] + ' : ' + count_url_dict[res2[key]]);
    }
    var add_str = "";
    var api = "";
    if (str_html.indexOf("ID") >= 0) {
      add_str = "<b>用户可能关闭了IP显示，替代为显示ID</b><br /><br />";
      document.getElementById("card3").innerHTML = add_str + str_html;//改变卡片的值
    } else {
      str_html = "";
      for(var key in res2){ 
       str_html += "<li><b>" + count_url_dict[res2[key]] + "次 :  </b>" + res2[key] +"</li><br />";
        //console.log(res2[key] + ' : ' + count_url_dict[res2[key]]);
      }
      document.getElementById("card3").innerHTML = add_str + str_html;//改变卡片的值
    }
    //获取请求浏览器
    count_url = new Array();
    count_url_count = new Array();
    count_url_index = 0;
    for (var xx in myJson) {
      for (var yy in myJson[xx][1]) {
        var data_url = myJson[xx][1][yy].ua;
        //console.log(data_url);
        if (count_url.length == 0) {
          count_url[count_url_index] = data_url;
          count_url_index++;
        } else if (val_in(count_url, data_url) == false && data_url !== "-") {
            count_url[count_url_index] = data_url;
            count_url_index++;
        }
      }
    }
    //显示原始数据
    str_html = "";
    for (var xx in myJson) {
      for (var yy in myJson[xx][1]) {
        if (myJson[xx][1][yy].url !== "-") {
          str_html += "<li><b>" + myJson[xx][1][yy].ip + " :  </b><li>URL: <a href='"+ myJson[xx][1][yy].url +"''>" + myJson[xx][1][yy].url +"</a></li>";
          str_html += "<li>UA: " + myJson[xx][1][yy].ua + "</li>";
          str_html += "<li>Time: " + myJson[xx][1][yy].time + "</li>";
          str_html += "<li>Info: " + myJson[xx][1][yy].info + "</li>";
          str_html += "</li><br />";
        }
      }
    }
    document.getElementById("card4").innerHTML = str_html;//改变卡片的值

    //获取单日总请求数
    for (var aa in all_date) {
      count_get[arr_index_get] = 0;
      for (var xx in myJson) {
        for (var yy in myJson[xx][1]) {
          //console.log(myJson[xx][1][yy]);
          var data_rd = myJson[xx][1][yy].time_detail;
          data_rd = data_rd.year+"/"+map_find_index(data_rd.month)+"/"+data_rd.day;
          if (data_rd == all_date[aa]) {
            count_get[arr_index_get]++;
          }
        }
      }
      arr_index_get++;
    }
    //console.log(count_get);
    
    //获取单日主页请求数
    var count_get_ind = new Array();
    arr_index_get = 0;
    fetch("/index_data.json")
    .then(function(response) {
      return response.json();
    })
    .then(function(myJson1) {
      //console.log(myJson1);
      for (var aa in all_date) {
        count_get_ind[arr_index_get] = 0;
        for (var x1 in myJson1) {
          //console.log(myJson1[x1][1]);
          if (count_json(myJson1[x1][1]) != 0) {
            for (var y1 in myJson1[x1][1]) {
              var data_rd = myJson1[x1][1][y1].time_detail;
              data_rd = data_rd.year+"/"+map_find_index(data_rd.month)+"/"+data_rd.day;
              if (data_rd === all_date[aa]) {
                count_get_ind[arr_index_get]++;
              }
            }
          }
        }
        arr_index_get++;
      }
    });
    //console.log(count_get_ind);

    new Chart(document.getElementById("barchart"), {
	    type: 'bar',
	    data: {
		    labels: all_date,
		    datasets: [{
			    data: count_get_ind,
			    label: '主页请求数',
			    backgroundColor: "#475577",
			    borderWidth: 1,
		    }, {
			    data: count_get,
			    label: '总请求数',
			    backgroundColor: "#6699F6",
			    borderWidth: 1,
		    }]
	    },
	    options: {
		    responsive: true,
		    legend: {
			    position: 'top',
		    },
	    }
    });
    new Chart(document.getElementById("linechart"), {
	  type: 'line',
	  data: {
		  labels: all_date1,
		  datasets: [{
			  label: '请求数',
			  backgroundColor: window.chartColors.navy,
			  borderColor: window.chartColors.navy,
			  data: count_get1,
			  fill: false,
		  }]
	  },
	  options: {
		  responsive: true,
		  // title: {
		  // 	display: true,
		  // 	text: 'Chart.js Line Chart'
		  // },
		  tooltips: {
			  mode: 'index',
			  intersect: false,
		  },
		  hover: {
			  mode: 'nearest',
			  intersect: true
		  },
		  scales: {
			  xAxes: [{
				  display: true,
				  scaleLabel: {
					  display: true,
					  labelString: 'Month'
				  }
			  }],
			  yAxes: [{
				  display: true,
				  scaleLabel: {
				  	display: true,
					  labelString: 'Value'
				  }
			  }]
	  	}
	  }
  });

});
//请求过主页的信息
fetch("/index_data.json")
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    var ind_num_c = 0;
    for (var x in myJson) {
      if (count_json(myJson[x][1]) != 0) {
        ind_num_c++;
      }
    }
    document.getElementById("index_page_num").innerHTML = ind_num_c;
  });
//获取更新日期
fetch("/update_date.json")
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    //console.log(myJson);

    var today = new Date();
    var someday;
    someday = new Date();
    var array_time = myJson["hms"].split(":");
    someday.setFullYear(myJson["year"]);
    someday.setMonth(parseInt(myJson["month"])-1);
    someday.setDate(myJson["day"]);
    someday.setHours(array_time[0]);
    someday.setMinutes(array_time[1]);
    someday.setSeconds(array_time[2]);
    var message_t = "";
    if (today > someday) {
      var time_C = today-someday;
      
      time_C = time_C / 1000;
      var str_t = "";
      if (time_C < 60) {
        message_t = "刚刚更新";
      } else if (time_C < 3600 && time_C >= 60) {
        str_t += (time_C/60);
        message_t = str_t.slice(0,str_t.indexOf(".")) + "分钟前更新";
      } else if (time_C >= 3600 && time_C < 3600*24) {
        str_t += (time_C/3600);
        message_t = str_t.slice(0,str_t.indexOf(".")) + "小时前更新";
      } else if (time_C >= 3600*24) {
        str_t += (time_C/3600/24);
        message_t = str_t.slice(0,str_t.indexOf(".")) + "天前更新";
      }
    }
    document.getElementById("update_date").innerHTML = message_t;
    document.getElementById("update_date1").innerHTML = message_t;
});
</script>
</body>
</html>
  